body{
    font-family: 'Arima Madurai', cursive;
    font-size: large;
    background-color: rgb(222, 170, 238);
    margin: 100px 100px 100px 100px;
    
}



h1{
    font-family: 'Jacques Francois Shadow', cursive;

}

h2{
    font-family: 'Wendy One', sans-serif;


}